/*
   New Perspectives on HTML and CSS
   Tutorial 5
   Case Problem 1

   Sudoku Puzzle Table Style Sheet
   Author: Martin Hernandez
   Date:   04/24/16

   Filename:         stable.css
   Supporting Files: green.jpg, gold.jpg

*/

table.spuzzle {
    border: 5px solid grey;
}